**/.git
**/.github
**/*.md
/.codespellignore
/.gitignore
/.venv
/BUILD.info
/checkpoints
/doc
/doc-build
/fastsurfer.egg-info
/test
/Tutorial
/uv.lock
/venv
/tools/debug-helpers
/tools/Docker/Dockerfile*
/tools/export_pip-r.sh
/tools/git-hooks
/tools/macos_build
/srun_fastsurfer.sh
/requirements*.txt
!/requirements.txt
