h5py==3.6.0
matplotlib==3.5.1
nibabel==3.2.2
numpy==1.22.3
scikit-image==0.19.2
scikit-learn==1.1.2
scipy==1.8.0
python-dateutil==2.8.2
simpleitk==2.1.1
pyyaml==6.0

# Lapy installation from git
git+https://github.com/Deep-MI/LaPy.git#egg=lapy

# Pytorch installation
-f https://download.pytorch.org/whl/cu113/torch_stable.html
torch==1.10.0+cu113
-f https://download.pytorch.org/whl/cu113/torch_stable.html
torchvision==0.11.1+cu113
