h5py>=3.7
lapy>=0.4.1
matplotlib>=3.5.1
nibabel>=3.2.2
numpy>=1.21,<2
pandas>=1.4.3
torch>=2.0.0
pyyaml>=6.0
requests>=2.31.0
scipy>=1.8.0
yacs>=0.1.8
simpleitk>=2.1.1
scikit-image>=0.19.3
scipy>=1.8.0,!=1.13.0
tensorboard>=2.9.1
torchio>=0.18.83
torchvision>=0.15.2+cu117
tqdm>=4.64
