h5py==3.7.0
lapy==1.0.1
matplotlib==3.7.1
nibabel==5.1.0
numpy==1.25.0
pandas==1.5.3
pillow==10.0.1
python-dateutil==2.8.2
pyyaml==6.0
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.10.0
simpleitk==2.2.1
tensorboard==2.12.1
torchio==0.18.83
tqdm==4.65.0
yacs==0.1.8

# Pytorch installation
--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.0.1+cu117
--extra-index-url https://download.pytorch.org/whl/cu117
torchvision==0.15.2+cu117
