h5py==3.7.0
matplotlib==3.5.1
nibabel==3.2.2
numpy==1.23.5
scikit-image==0.19.2
scikit-learn==1.1.2
scipy==1.8.0
python-dateutil==2.8.2
pillow==9.2.0
simpleitk==2.1.1
pyyaml==6.0
pandas==1.4.3
yacs==0.1.8
tensorboard==2.9.1
tqdm==4.64
torchio==0.18.83

# Lapy installation from git
git+https://github.com/Deep-MI/LaPy.git#egg=lapy

# Pytorch installation
--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.12.0+cu113
--extra-index-url https://download.pytorch.org/whl/cu113
torchvision==0.13.0+cu113
